
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

@font-face {
  font-family: slabo;
  src: url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
  }


body {
  background-color: #9c999a70;
  font-family: slabo;
}
