.certContainer{
 max-width: 1440px;
 width: 100%;
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.certContent{
    justify-content: center;
    background-color: transparent;
    width: 350px;
    height: 250px;
    margin: auto; 
    padding: 10px 0px;
    perspective: 1000px;

}
.certCard {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 0px;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.certContent:hover .certCard{
    transform: rotateY(180deg);
}

 .certCard-front, .certCard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
     backface-visibility: hidden; 
 }
  
   

.certCard-back {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
}

#aws {
    background-image: url('../../assests/images/AWScloudpractitioner.webp');
    height: 250px;
    background-size: contain;
}
#projectPlus {
    background-image: url('../../assests/images/project+.webp');
    height: 250px;
    background-size: contain;

}
#itilFour{
    background-image: url('../../assests/images/itil4.webp');
    height: 250px;    
    background-size: contain;

}